.agenda-content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
}

.agenda-content h1, h2{
    text-align: center;
    font-weight: 500;
}

.quantidadeContatos{
    text-align: center;
    color: gray;
    font-style: italic;
}

.semContatos{
    text-align: center;
    color: gray;
    font-style: italic;
    margin-top: 20px;
}

.agenda{
    display: flex;
    justify-content: center;
}

.icon-user{
    padding-right: 10px;
}

hr{
    width:80%;
}