
.form-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    background: white;
    height: 300px;
}

.formulario{
    padding: 20px;
}

.novo-cadastro{
    margin-bottom: 50px;
}

.novo-cadastro h2{
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
}
.novo-cadastro h3{
    font-weight: 300;
    margin-top:5px;
    text-align: center;
}
.titulo{
    color: white;
    text-align: center;
    background-color: #515C68;
    display: flex;
    flex-direction: column;
    justify-content: center;


    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.addContato{
    font-size: 1em;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid gray;
    background-color: white;
    color: black;
}

form input {
    width: 70%;
    display: block;
    color: rgb(47, 55, 63);
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #999;
    padding: 10px 30px;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 15px;
}
::placeholder {
    color: rgb(166, 179, 196);
    font-size: medium;
}
form input:focus {
    outline: none;                
    border: none;                 
    border-bottom: 1px solid #555; 
}

.botoes{
    display: flex;
    justify-content: center;
}

.addContato:hover{
    background-color: #555;
    color: white;
    transition: all 0.3s ease;
}
.limparCampos{
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid gray;
    color: gray;
    margin-top: 20px;
}
.limparCampos:hover{
    background-color: #555;
    color: white;
    transition: all 0.3s ease;
}



