.contato {
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.493);
    border-radius: 10px;
    margin: 10px 0;

    display: flex;
    flex-direction: column;

}

.contato span{
    padding-bottom: 10px;
    text-align: center;
}
.contato span:first-of-type {
    font-weight: bold;
    font-size: 1.1em;
}

.contato hr {
    width: 100%;
    border: 1.5px solid rgba(128, 128, 128, 0.486);
}

.botao{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
    transition: all 0.3s ease;
    transform: scale(1);
}

.botao:hover{
    transform: scale(1.05);
    color:rgb(41, 46, 73);
    background: white;
}   